  
  <!-- Hero Area  -->

  <div class="hero-area section-padding">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-7 col-lg-7 col-md-7">
                  <div class="section-title">
                      <h1 class="wow fadeInUp" data-wow-delay=".2s">We Stand Always for Right Justice</h1>
                      <div class="extra-title-line wow fadeInDown" data-wow-delay=".4s">
                          <img src="assets/img/extra_title_line.svg" alt="">
                      </div>
                  </div>                    
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 wow fadeInUp" data-wow-delay=".6s">
                  <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed. Beatae vitae dicta.</p>
              </div>
          </div>
      </div>
      <div class="hero-img-wrap">
          <img src="assets/img/hero-img.jpg" alt="">
      </div>
  </div>

  <!-- Service Section -->
  <div id="service-1" class="service-section section-padding pt-0">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="section-title">
                      <h6>What We Offer</h6>
                      <h2>Legal Services for <br> all matters</h2>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                  <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
          </div>            
          <div class="row mt-60">
              <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                  <div class="single-service-item">
                      <div class="service-icon">
                          <span><i class="flaticon-international-business"></i></span>
                      </div>
                      <div class="service-title">
                          <h4>Business Law <br> Service</h4>
                      </div>
                      <a href="single-service.html" class="read_more_link">
                          <span class="link_text">Read More</span>
                          <span class="link_icon"><i class="las la-arrow-right"></i></span>
                      </a>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                  <div class="single-service-item">
                      <div class="service-icon">
                          <span><i class="flaticon-family"></i></span>
                      </div>
                      <div class="service-title">
                          <h4>Family Law <br> Service</h4>
                      </div>
                      <a href="single-service.html" class="read_more_link">
                          <span class="link_text">Read More</span>
                          <span class="link_icon"><i class="las la-arrow-right"></i></span>
                      </a>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                  <div class="single-service-item">
                      <div class="service-icon">
                          <span><i class="flaticon-balance"></i></span>
                      </div>
                      <div class="service-title">
                          <h4>Criminal Defense <br> Service</h4>
                      </div>
                      <a href="single-service.html" class="read_more_link">
                          <span class="link_text">Read More</span>
                          <span class="link_icon"><i class="las la-arrow-right"></i></span>
                      </a>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                  <div class="single-service-item">
                      <div class="service-icon">
                          <span><i class="flaticon-contract"></i></span>
                      </div>
                      <div class="service-title">
                          <h4>Personal Injury <br> Service</h4>
                      </div>
                      <a href="single-service.html" class="read_more_link">
                          <span class="link_text">Read More</span>
                          <span class="link_icon"><i class="las la-arrow-right"></i></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- About Section  -->
  <div id="about-1" class="about-section gray-bg section-padding pb-150">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                  <div class="about-img-wrap">
                      <div class="image-one wow fadeInUp" data-wow-delay=".2s">
                          <img src="assets/img/about/1-1.jpg" alt="">
                      </div>                        
                      <div class="image-two wow fadeInUp" data-wow-delay=".4s">
                          <img src="assets/img/about/1-2.jpg" alt="">
                      </div>                        
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                  <div class="about-content-wrap">
                      <div class="section-title">
                          <h6>About Us</h6>
                          <h2>Your legal safety is <br> our top priority</h2>
                      </div>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      <ul class="about-key mt-30">
                          <li><i class="las la-check-square"></i>
                              <p>Best Legal Services</p>
                          </li>
                          <li><i class="las la-check-square"></i>
                              <p>100% Success Rate</p>
                          </li>
                          <li><i class="las la-check-square"></i>
                              <p>Expert Lawyer</p>
                          </li>
                          <li><i class="las la-check-square"></i>
                              <p>Affordable Cost Rate</p>
                          </li>
                      </ul>
                      <a href="about.html" class="theme-btn mt-30">About Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Clients Section -->

  <div class="client-section section-padding pb-60">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="section-title">
                      <h6>Our Client</h6>
                      <h2>Check our best <br> clients & partners</h2>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                  <div class="section-text">
                      <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitacion ullamco.</p>
                      <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  </div>
              </div>
          </div>
          <div class="row mt-60">
              <div class="client-wrap owl-carousel">
              <div class="clients-img-inner">
                  <img src="assets/img/client/1.jpg" alt="">
              </div>
              <div class="clients-img-inner">
                  <img src="assets/img/client/2.jpg" alt="">
              </div>
              <div class="clients-img-inner">
                  <img src="assets/img/client/3.jpg" alt="">
              </div>
              <div class="clients-img-inner">
                  <img src="assets/img/client/4.jpg" alt="">
              </div>
              <div class="clients-img-inner">
                  <img src="assets/img/client/5.jpg" alt="">
              </div>
              <div class="clients-img-inner">
                  <img src="assets/img/client/6.jpg" alt="">
              </div>                
              </div>
          </div>
      </div>
  </div>

  <!-- Video Section  -->
  <div class="video-section" data-background="assets/img/video-bg.jpg">        
      <div class="video-inner-box">            
          <div class="play-btn">
              <a href="https://www.youtube.com/watch?v=7q0TRgDvT9k" class="video-play-btn mfp-iframe">Play</a>
          </div>
      </div>
  </div>

  <!-- Price Section  -->
  <div class="price-section section-padding gray-bg">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6 order-2 order-lg-1">
                  <div class="row">
                      <div class="col-md-6 wow fadeInUp" data-wow-delay=".2s">
                          <div class="single-price-item">
                              <div class="price-title">
                                  <h5>Gold pack</h5>
                              </div>
                              <p>Dicta sunt elit explicabo</p>
                              <div class="price-tag">
                                  <span>$</span>
                                  <span class="price-amount">100</span>
                                  <span>/mo</span>
                              </div>
                              <div class="price-feat-list">
                                  <ul>
                                      <li>Support Frequently</li>
                                      <li>Flexible Charge</li>
                                      <li>Ontime Result</li>                                        
                                  </ul>
                              </div>
                              <div class="price-btn">
                                  <a href="#" class="dark-btn mt-30">Get Now</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 wow fadeInUp" data-wow-delay=".4s">
                          <div class="single-price-item">
                              <div class="price-title">
                                  <h5>Silver pack</h5>
                              </div>
                              <p>Dicta sunt elit explicabo</p>
                              <div class="price-tag">
                                  <span>$</span>
                                  <span class="price-amount">80</span>
                                  <span>/mo</span>
                              </div>
                              <div class="price-feat-list">
                                  <ul>
                                      <li>Support Frequently</li>
                                      <li>Flexible Charge</li>
                                      <li>Ontime Result</li>                                        
                                  </ul>
                              </div>
                              <div class="price-btn">
                                  <a href="#" class="dark-btn mt-30">Get Now</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 order-1 order-lg-2">
                  <div class="price-content-wrap">
                      <div class="section-title">
                          <h6>Pricing Plans</h6>
                          <h2>Our tariff plans</h2>
                      </div>
                      <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                      <a href="about.html" class="theme-btn mt-30">About Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- FAQ Section  -->
  <div class="faq-section section-padding">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                  <div class="section-title">
                      <h6>FAQ</h6>
                      <h2>We resolve <br> Legal Solutions</h2>
                  </div>
                  <div class="cp-custom-accordion">
                      <div class="accordions" id="accordionExample">
                          <div class="accordion-items">
                              <h2 class="accordion-header" id="headingOne">
                                  <button class="accordion-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <span></span>How can I apply for a job?
                                  </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-items">
                              <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      <span></span>Which specialties are requested today?
                                  </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-items">
                              <h2 class="accordion-header" id="headingThree">
                                  <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <span></span>Do you produce products worldwide?
                                  </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 text-lg-end">
                  <div class="counter-wrap">
                      <div class="counter-img">
                          <img src="assets/img/counter-bg.jpg" alt="">
                      </div>
                      <div class="counter-content">
                          <div class="single-counter-item dark-bg">
                              <h6>Happy Clients</h6>                                
                              <h1><span class="odometer" data-count="124">000</span>+</h1>
                              <p>Adipiscing elit, do eiusm.</p>
                          </div>
                          <div class="single-counter-item theme-bg">
                              <h6>Attorneys</h6>                                
                              <h1><span class="odometer" data-count="16">00</span>+</h1>
                              <p>Sed do eiusmod tempor.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Testimonial Section  -->
  <div class="testimonial-section">        
          <div class="testimonal-inner">
              <div class="section-title">
                  <h6 class="text-white">Testimonial</h6>
                  <h2 class="text-white">What they say</h2>
              </div>
              <div class="testimonial-content-wrap owl-carousel">
                  <div class="single-testimonial-item">
                      <div class="quote-icon">
                          <img src="assets/img/straight-quotes-small.png" alt="">
                      </div>
                      <div class="testimonial-text">
                          <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                      </div>
                      <div class="author-thumb">
                          <img src="assets/img/testimonial/1.jpg" alt="">
                      </div>
                      <div class="testimonial-title">
                          <h5>Rhonda Najar</h5>
                          <p>Law Student</p>
                      </div>
                  </div>
                  <div class="single-testimonial-item">
                      <div class="quote-icon">
                          <img src="assets/img/straight-quotes-small.png" alt="">
                      </div>
                      <div class="testimonial-text">
                          <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                      </div>
                      <div class="author-thumb">
                          <img src="assets/img/testimonial/2.jpg" alt="">
                      </div>
                      <div class="testimonial-title">
                          <h5>Rhonda Najar</h5>
                          <p>Law Student</p>
                      </div>
                  </div>
                  <div class="single-testimonial-item">
                      <div class="quote-icon">
                          <img src="assets/img/straight-quotes-small.png" alt="">
                      </div>
                      <div class="testimonial-text">
                          <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                      </div>
                      <div class="author-thumb">
                          <img src="assets/img/testimonial/3.jpg" alt="">
                      </div>
                      <div class="testimonial-title">
                          <h5>Rhonda Najar</h5>
                          <p>Law Student</p>
                      </div>
                  </div>
              </div>
          </div>
      
      <div class="testimonial-bg"></div>
  </div>

  <!-- Blog Section  -->
  <div class="blog-section section-padding">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-6 text-center">
                  <div class="section-title">
                      <h6>From Our Blog</h6>
                      <h2>Our latest news</h2>
                  </div>
              </div>
          </div>
          <div class="row mt-30">
              <div class="blog-carousel owl-carousel">
                  <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".2s">
                      <div class="blog-img">
                          <img src="assets/img/blog/1.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-meta">
                              <span>Civil Law</span>
                          </div>
                          <div class="blog-title">
                              <h4>The best ways to protect your family and business in 2023</h4>
                          </div>
                          <div class="blog-info">
                              <span>February 05 2024</span>
                              <span>1 comment</span>
                          </div>
                      </div>
                  </a>
                  <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".4s">
                      <div class="blog-img">
                          <img src="assets/img/blog/2.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-meta">
                              <span>Labour Law</span>
                          </div>
                          <div class="blog-title">
                              <h4>Workers charged in a pursuit that paralyzed a payment</h4>
                          </div>
                          <div class="blog-info">
                              <span>February 15 2024</span>
                              <span>1 comment</span>
                          </div>
                      </div>
                  </a>
                  <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".6s">
                      <div class="blog-img">
                          <img src="assets/img/blog/3.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-meta">
                              <span>Criminal Law</span>
                          </div>
                          <div class="blog-title">
                              <h4>Ten myths about lawyers and criminal defence attorneys</h4>
                          </div>
                          <div class="blog-info">
                              <span>February 28 2024</span>
                              <span>1 comment</span>
                          </div>
                      </div>
                  </a>
                  <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                      <div class="blog-img">
                          <img src="assets/img/blog/4.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-meta">
                              <span>Legal Service</span>
                          </div>
                          <div class="blog-title">
                              <h4>Legal services improvement sight of Court Area</h4>
                          </div>
                          <div class="blog-info">
                              <span>November 2 2023</span>
                              <span>1 comment</span>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>

  <!-- Newsletter Section  -->
  <div class="newsletter-section gray-bg section-padding">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-5 col-lg-5 col-md-5">
                  <div class="section-title mb-0">
                      <h6>Newsletter Signup</h6>
                      <h2>Subscribed for the exclusive updates</h2>                        
                  </div>                    
              </div>
              <div class="col-xl-7 col-lg-7 col-md-7 text-md-end">
                  <div class="subscribed-form">                            
                      <input type="text" placeholder="Enter Your Email Address">
                      <div class="submit-btn"><i class="las la-paper-plane"></i></div>                            
                   </div>
              </div>
          </div>
      </div>
  </div>